* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: white;
  color: #383a42;
  font-size: 1rem;
  font-family: system, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

main {
  height: 100%;
  text-align: center;
}

main::after {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.9), transparent);
  content: "";
}

main > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 80%, transparent);
  line-height: 1rem;
}

main > article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  padding: 50px 25px;
}

h1 {
  margin: 0;
  padding: 0;
  color: #a0a1a7;
  font-size: 0.85rem;
  font-weight: 400;
}

h2 {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  margin: 0 0 1rem;
  padding: 0;
  height: 3rem;
  color: #696c77;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 0.75rem;
  font-size: 0.85rem;
  line-height: 1rem;
  white-space: nowrap;
}

li span {
  overflow: hidden;
  text-overflow: ellipsis;
}

li span + small {
  color: #a0a1a7;
}

footer {
  flex-grow: 1;
  margin-top: 1rem;
}

.timer {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 300;
}

.input {
  border: 1px solid transparent;
  border-radius: 2px;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 1.5rem;
  background-color: transparent;
  font-size: 1rem;
  text-align: center;
  transition: border 100ms, background 100ms;
}

.input:hover,
.input:focus {
  background-color: #fafafa;
}

.input:focus {
  border-color: #4078f2;
}

.input-timer {
  padding-left: 20px;
  width: 100px;
  height: auto;
  background-color: #fafafa;
  font-size: 3rem;
  font-weight: 300;
}

.button {
  outline: 0;
  border: 0;
  border-radius: 2px;
  margin: 0;
  padding: 0 15px;
  height: 40px;
  background-color: #fafafa;
  color: #383a42;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.button + .button {
  margin-left: 15px;
}

.button-submit {
  background-color: #50a14f;
  color: #fafafa;
}

.button-reset {
  background-color: #e45649;
  color: #fafafa;
}

.button-small {
  padding: 0 4px;
  height: 18px;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0;
}
